.cart-dropdown {
    position: absolute;
    width: 17rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
  
    .cart-items {
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
  
    button {
      margin-top: 5px;
      align-self: center;
      width: 150px;
    }
  }
  