.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 23%;
  }
  .name,
  .quantity,
  .price {
    width: 23%;
    align-self: center;
  }

  .quantity {
    padding-left: 11px;
  }

  .remove-button {
    padding-left: 12px;
    align-self: center;
    cursor: pointer;
  }
}
