.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: block;
  margin: 50px auto 0;

tr{
  display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid 1px darkgrey;
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}
