.business{
    background-color: #479A79;
    
}

a{
    color: #fcf9f3!important;
    font-weight: bold;
    font-size: 1.4rem
}

.icon{
    padding-bottom: 7px;
}
button.navbar-toggler{
    border:none;
}
