#sidebar-container {
    min-height: 100vh;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 18rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 6px;
}

.stat {
    border-right: 1px solid var(--grey);
}

  
@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }

#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
    background:#fcf9f3;
}
